html {
    /* background: no-repeat center center cover; */
    background-image: url('../images/day-hearts.jpg');
    background-color: #6ed202;
    background-size: cover;
    background-repeat: no-repeat;
    resize: both;
    font-family: 'Comfortaa';
}



h4 {
    color: rgb(250, 101, 126);
    font-size: 25px;
}


.is-done {
    margin-bottom: 8;
    background-color: orchid;
    
}

.card {
    margin-bottom: 8;
    background-color: lightskyblue;

}